.dark {
  --bg-app-image: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
  --modal-bg-color: #3c443c; 
  --bg-app-inverted: #e8e8ea;
  --primary-color: #049604;
  --primary-color-inverted: #485ea0;
  --secondary-color: #04ff04;
  --link-color: #dcdedf;
}